body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 400;
}
ul {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

.top {
  align-items: center;
  background-color: #1f2937;
  padding: 0 250px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px;
}

.first-container {
  width: 40%;
}

.first-title {
  font-size: 48px;
  color: #f9faf8;
}

.first-subtext {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 300;
}

.placeholder {
  background-color: gray;
}

.placeholder-text {
  color: #e5e7eb;
  padding: 75px 95px;
}

.first-button {
  padding: 8px 35px;
  background-color: #3882f6;
  border: none;
  border-radius: 10px;
  color: #e5e7eb;
  font-weight: 600;
}

.second-container {
  margin-top: 20px;
}
.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.second-header {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
}

.second-item-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 700px;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
}
.item-image {
  border: solid #3882f6 3px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  height: 130px;
}

.item-subtext {
  font-size: 18px;
  color: #1f2937;
}
